header{
    position: fixed;
    top:0;
    width: 100%;
    z-index:1;
    background-color:black;
    
}
   header .navigation-bar{
       display:inline-block;
       width: 65%;
       vertical-align:middle;

   }
    header .navigation-bar .navbar-nav li{
        display:inline-block;
        vertical-align:middle;
        margin-left:20px;
    }
    header .navigation-bar .navbar-nav {
        display: inline-block;
        vertical-align: middle;
    }

        header .navigation-bar .navbar-nav a{
            color:white;
        }
.navbar-brand{
    color:white
}

.datatbl {
    display: none;
}




/*StudentMaster-GetStudentData*/
.edit-button{
    background-color:blue;
    color:white;
    padding:3px 7px;
    border:none;
    border-radius:3px;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 3px 7px;
    border: none;
    border-radius: 3px;
}


