@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Student Report Management</h1>
    
</div>

<div class="row">
    <div class="col-md-3">
        <p>
            Top Scorer
        </p>
        @using (Html.BeginForm("TopScorer", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }


    </div>
    <div class="col-md-3">
        <p>
            Top Score Year wise
        </p>
        @using (Html.BeginForm("TopScorerYearwise", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }

    </div>
    <div class="col-md-3">
        <p>
            Semister wise Subject Data
        </p>
        @using (Html.BeginForm("SemwiseSubjectData", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }

    </div>
    <div class="col-md-3">
        <p>
            Student List
        </p>
        @using (Html.BeginForm("StudentList", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
</div>

<br />
    
<div class="row">
    <div class="col-md-3">
        <p>
            Data by Name and Year
        </p>
        @using (Html.BeginForm("Index", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Semester wise Students data
        </p>
        @using (Html.BeginForm("SemesterwiseStudent", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Student Score Year wise
        </p>
        @using (Html.BeginForm("StudentScoreYearwise", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Overall Score for year descending
        </p>
        @using (Html.BeginForm("OverallScoreforYear", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }

    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3">
        <p>
            Student Max Score for Year
        </p>
        @using (Html.BeginForm("StudentMaxScoreYear", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }

    </div>
    <div class="col-md-3">
        <p>
            Students with subject details semister wise
        </p>
        @using (Html.BeginForm("SemwiseSubjectData", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }

    </div>
    <div class="col-md-3">
        <p>
            Particular Students top subject from each Semister
        </p>
        @using (Html.BeginForm("StudentTopSubEachSem", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }

    </div>
    <div class="col-md-3">
        <p>
            Lowest Scorer student- Year Wise
        </p>
        @using (Html.BeginForm("LowestScorer", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }

    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3">
        <p>
            Particular Students Lowest Scores
        </p>
        @using (Html.BeginForm("StudentsLowestScore", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }

    </div>
    <div class="col-md-3">
        <p>
            Students passed in particular Subject
        </p>
        @using (Html.BeginForm("PassedStudent", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }

    </div>
    <div class="col-md-3">
        <p>
            Count of Students Passed in particular Subject
        </p>
        @using (Html.BeginForm("PassedStudentCount", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }

    </div>
    <div class="col-md-3">
        <p>
            Avg of Student marks Semester wise
        </p>
        @using (Html.BeginForm("AvgMarksSemesterwise", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }

    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3">
        <p>
            Sum and Avg of Particular Student for Semester
        </p>
        @using (Html.BeginForm("SumandAvgofStudent", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Percentage of Particular Student Semester wise
        </p>
        @using (Html.BeginForm("PercentageofStudent", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Count of Subjects in each Semester
        </p>
        @using (Html.BeginForm("SubjectCount", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Percentage of All Students yearwise
        </p>
        @using (Html.BeginForm("StudentPercentage", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>

</div>

<br />

<div class="row">
    <div class="col-md-3">
        <p>
            Students Percentage overall
        </p>
        @using (Html.BeginForm("OverallPercentage", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Subject wise Failed Student
        </p>
        @using (Html.BeginForm("FailedStudent", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Lowest scoring students Semester wise
        </p>
        @using (Html.BeginForm("LowestScorerSemwise", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Lowest Scoring  Excluding Failed Students
        </p>
        @using (Html.BeginForm("LowestScorerswithoutFailed", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3">
        <p>
            Age Calculation
        </p>
        @using (Html.BeginForm("AgeCalculation", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Top Subject of Student with more selects
        </p>
        @using (Html.BeginForm("StudentTopSubYear", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Reports data with Corrected DOB
        </p>
        @using (Html.BeginForm("ReportsDatawithDOB", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Studentwise Report Count
        </p>
        @using (Html.BeginForm("ReportCount", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3">
        <p>
            Top subjects with more selects
        </p>
        @using (Html.BeginForm("TopSubwithMoreSelect", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            top 3 from Particular Subject
        </p>
        @using (Html.BeginForm("TopThree", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Particular Students top Subjects
        </p>
        @using (Html.BeginForm("StudTopSub", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            All Students Top subject Semister wise
        </p>
        @using (Html.BeginForm("AllStudTopSub", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3">
        <p>
            Particular Subject Result Passed or Failed
        </p>
        @using (Html.BeginForm("SubjectResult", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Result Passed or Failed by Semister
        </p>
        @using (Html.BeginForm("SemisterResult", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Ordering by Score
        </p>
        @using (Html.BeginForm("OrderingbyScore", "MyAPI", FormMethod.Get))
        {
            <button type="submit" class="btn-primary">Search</button>
        }
    </div>
</div>