@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Report Management</h1>
    
</div>

<div class="row">
    <div class="col-md-3">
        <p>
            Top Scorer
        </p>
        @using (Html.BeginForm("TopScorer", "MyAPI", FormMethod.Get))
        {
            <button type="submit">Search</button>
        }


    </div>
    <div class="col-md-3">
        <p>
            Top Score Year wise
        </p>
        @using (Html.BeginForm("TopScorerYearwise", "MyAPI", FormMethod.Get))
        {
            <button type="submit">Search</button>
        }

    </div>
    <div class="col-md-3">
        <p>
            Semister wise Subject Data
        </p>
        @using (Html.BeginForm("SemwiseSubjectData", "MyAPI", FormMethod.Get))
        {
            <button type="submit">Search</button>
        }

    </div>
    <div class="col-md-3">
        <p>
            Student List
        </p>
        @using (Html.BeginForm("StudentList", "MyAPI", FormMethod.Get))
        {
            <button type="submit">Search</button>
        }
    </div>
    <hr />
    
    <div class="col-md-3">
        <p>
            Data by Name and Year
        </p>
        @using (Html.BeginForm("Index", "MyAPI", FormMethod.Get))
        {
            <button type="submit">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Semester wise Students data
        </p>
        @using (Html.BeginForm("SemesterwiseStudent", "MyAPI", FormMethod.Get))
        {
            <button type="submit">Search</button>
        }
    </div>
    <div class="col-md-3">
        <p>
            Student Score Year wise
        </p>
        @using (Html.BeginForm("StudentScoreYearwise", "MyAPI", FormMethod.Get))
        {
            <button type="submit">Search</button>
        }
    </div>
</div>